*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: lightblue;
}

/*Desktop First */

/*Laptop*/
@media screen and (max-width: 1000px){
    body{
        background-color: darkblue;
    }    
}

/*Tablet*/
@media screen and (max-width:700px){
    body{
        background-color: darkgoldenrod;
    }
}

/*Smartphone*/
@media screen and (max-width: 400px){
    body{
        background-color: darkgray;
    }
}

/*-------------------*/
@media screen and (max-width:1000px){
    .titulo{
        display: none;
    }
}

@media screen and (max-width: 400px) and (min-width:1px){
    .titulo{
        display: block;
    }
}